<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllegroUrl" value="http://your-allegro-server"/>
    <add key="LogLevel" value="DEBUG"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
