<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllegroUrl" value="http://your-allegro-server"/>
    <add key="LogLevel" value="DEBUG"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpSoap"/>
        <add name="HttpSoap12"/>
      </protocols>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
    </webServices>
  </system.web>
</configuration>
